<head>
    <link rel='stylesheet' href='/stylesheets/footer.module.css' />
</head>
<div>

<ul>
    <li><a href="{{baseLink}}/">Home</a></li>
    <li><a href="{{baseLink}}/auth/login">Login</a></li>
    <li><a href="{{baseLink}}/admin">Admin Dashboard</a></li>
    <li><a href="{{baseLink}}/customer">Customer Dashboard</a></li>
    <li><a href="{{baseLink}}/employee">Employee Dashboard</a></li>
    <li><a href="{{baseLink}}/userfirsttime">User First Time</a></li>
    <li><a href="{{baseLink}}/availableunits">Available Units</a></li>
    <li>
        <form><button type="submit" formaction="/auth/" formmethod="post">Sign Out</button></form>
    </li>
</ul>
</div>